 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
 </head>
 <body>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br><br>

<div class="container-fluid well span6">
    {{#each groupdata}}
	<div class="row-fluid">
        <div class="span2" >
		    <img src="http://localhost:3000/photos/{{imageLocation}}" class="img-circle">
        </div>
        
        <div class="span8">
            <h3>{{name}}</h3>
            <h6>{{email}}</h6>
            <h6>{{age}}</h6>
            <h6>{{bloodgroup}}</h6>
            <h6>{{contactno}}</h6>
            <h6>{{address}}</h6>
            <h6>{{gender}}</h6>

           
        </div>
        
        
        
        
    </div>
    {{/each}}
    <div>
            <form action="dons_nearby.html">
                <input type="submit" value="back">
            </form>
     </div>
</div>

    
    
 </body>
 </html>
