
  the mail has been sent 
  <!-- Hello {{name}}, you are in event unapproved list.



                    Total No. of Event : {{count}}

     <div class="container-fluid">
            
                    <h1>NEPAL RED CROSS BLOOD DONATION CAMPAIGN</h1> 
            <div class="row">
              <div class="col-xs-12 ">
                  <table class="table table-stripped table-bordered cf">
                      <tr>
                          
                      <th>Organizer</th>
                      <th>Place</th>
                      <th>Date</th>
                      <th>Approve Status</th>
                    </tr>
                    {{#each events}}
                    <tr>
                        <td>{{organizer}}</td>
                        <td>{{place}}</td>
                        <td>{{date}}</td>
                        <td><a href="/event/{{_id}}" class="btn btn-success">Approve</a></td>
                    </tr>
                    {{/each}}
                  </table>
      </div>
    </div>
</div>